body {
  background-color: #e1dfdf;
  color: black !important;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 10px auto;
  text-align:center
}

.wrapper {
  border: 1px solid #000;
  display: inline-block;
  margin: 0 auto;
}

input {
  width: 400px;
}

ul {
  list-style-type: none;
}

li {
  background-color: #8DDC92;
  border-radius: 10px;
  margin: 20px 50px;
  padding: 5px 0px 10px 10px;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  overflow:hidden;
}